<!DOCTYPE html> <!-- Declaração do tipo de documento HTML -->

<html>
<head>
    <meta charset="utf-8" /> <!-- Configuração da codificação de caracteres -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Configuração da meta tag para a visualização em dispositivos móveis -->
    <title>Recuperar Senha</title> <!-- Título da página exibido na guia do navegador -->
</head>
<body>
    <!-- Início da seção <body> do documento -->

    <div>
        <h1>Você esqueceu sua Senha ?</h1> <!-- Título de primeiro nível para indicar que o usuário esqueceu sua senha -->
    </div>

</body>
</html>

